.PageLogement {
  color: #ff6060;
}

.RentalHost {
  display: inline-flex;
  width: 100%;
}

.RentalHost > div {
  flex: 1 0 auto;
}

.RentalInfo {
  flex-direction: column;
}

.RentalTitle {
  font-size: 36px;
}

.RentalLocation {
  display: block;
  font-size: 18px;
  margin-bottom: 25px;
}

.HostInfo {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.HostName {
  font-size: 18px;
  margin-right: 10px;
  text-align: right;
  width: 100px;
}

.HostImage {
  border-radius: 50%;
  height: 64px;
  object-fit: cover;
  width: 64px;
}

.Rate {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.star {
  height: 30px;
  width: 30px;
}

.EquipmentsInfo {
  display: inline-flex;
  gap: 0 75px;
  line-height: 22.5px;
  list-style: none;
  margin-top: 25px;
  width: 100%;

  > .collapse {
      width: 50%;
  }
}

@media screen and (max-width: 1490px) {
  .RentalHost {
      display: block;
  }

  .RentalTitle {
      display: block;
      font-size: 24px;
      margin-bottom: 5px;
  }

  .RentalLocation {
      font-size: 14px;
      margin-bottom: 10px;
  }

  .tags {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 10px 0;

      > .tag {
          margin-left: 0px;
          min-width: 50px;
      }
  }

  .HostRate {
      display: inline-flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-top: 25px;
      width: 100%;
  }

  .HostInfo {
      margin-bottom: unset;
      width: 100%;
  }

  .HostImage {
      height: 32px;
      width: 32px;
  }

  .star {
      height: 25px;
      width: 25px;
  }

  .EquipmentsInfo {
      display: block;

      > .collapse {
          width: 100%;
      }
  }
  
  .collapse {
      margin-bottom: 20px;
  }
}
